<%= render 'header'%> 
<div class="container text-center mt-5 ">
  <%= search_form_for @q, url: albums_myalbum_path do |f| %>
  <%= f.search_field :tags_name_or_name_cont , placeholder:" Search By Name or Tagname "%>
  <%= f.submit %>
  <% end %>
</div>
  <div class="container mt-5">
  <h1 class="text-center fw-bold">Published Albums</h1>
    <div class="row">
      <% @PublishedAlbums .each do |album| %>
        <div class="col-lg-3 mt-3 ">
          <a href="/albums/<%= album.id %>" class="text-decoration-none text-black"> 
            <div class="card text-decoration-none " style="width: 13rem;">
              <%= image_tag (album.cover_image )%>
              <div class="card-body">
              <h5 class="card-title">
                <%= album.name %>
              </h5>
              <h5  class="card-title">
              <%= album.tag_list %>
              </h5>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
<div class="container mt-5">
  <h1 class="text-center fw-bold">UnPublished Albums</h1>
    <div class="row">
      <% @UnPublishedAlbums .each do |album| %>
        <div class="col-lg-3 mt-3 ">
          <a href="/albums/<%= album.id %>" class="text-decoration-none text-black">
            <div class="card" style="width: 13rem;">
              <%= image_tag (album.cover_image ),style:"width:100%; height:200px"%>
              <div class="card-body">
                <h5 class="card-title">
                  <%= album.name %>
                </h5>
                <h5  class="card-title">
                <%= album.tag_list %>
                </h5>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
</div>

<%= render'footer' %>
